{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "quotes": ["error", "single"]
  }
}
